{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Bootstrap demo</title>
{% endblock meta %}


{% block content %}
  <div class="container text-center" style="margin-top: 5vh;  max-width: 40vw;">
      <p class="h3 text-center">CREDIT SCORING</p>
      <form class="was-validated" novalidate>
        <div>
          <div>
            <label for="Name" class="form-label">Name</label>
          </div>
          <div>
            <input id ="name" type="text" class="form-control" id="Name" placeholder="Write your name here...">
          </div>
                <br>
                <div>
                    <label for="birthday" class="form-label">Date of Birth</label>
                    <br>
                    <input id="dob" type="date" style="width: 38vw;" id="birthday" name="birthday" required>
                </div>
                <br>
                <br>
                <div>
                    <a href="/home2">Search using NIK</a>
                  </div>
                <a onclick="getInputValue();"  class="btn btn-primary">Submit</a>
        </div>
      </form>
  </div>
  <script>
    function getInputValue() {
      let inputname = document.getElementById("name").value;
      let dob = document.getElementById("dob").value;
      window.location.href = "/scoring/"+inputname+";"+dob+"/"
    }
  </script>
{% endblock content %}
  